<%= form_for @library do |f| %>
	<p><%= f.select :school_id, @schools.collect{|s| [s.name, s.id]} %></p>
	<p><%= f.text_field :name, placeholder: 'name' %></p>
	<p><%= f.submit 'Save Library' %></p>
<% end %>